.top-head-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #165315;
    color: #ffffff;
    font-family: 'Inter';
    padding-left: 10px;
    padding-right: 10px;
}

.top-para1{
    font-size: 14px;
    margin: 5px;
    margin-left: 50px;
}
.top-para{
    font-size: 14px;
    margin: 5px;
}