.nur-list{
    list-style-type: none;
    display: inline;
}
.nurs-list-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nurs-para{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #838383;

}
@media (max-width: 576px) {
    .nursery-img{
        height: 80px;
    }
    .nur-list{
        width: 100px;

    }
    .nurs-list-cont{
        margin: 5px;
    }
    .nurs-para{
        font-size: 11px;
    }
}